@model ProductCatalog
@using EcommerseClient.Services
@using EcommerseClient.Models
@using System.Web
@using Microsoft.AspNetCore.Mvc
<div>
    <div class="album py-5 bg-light">
        <div class="container">
            @if (Model.totalProducts == 0)
            {
                <h2 class="text-muted">No products found</h2>
            }
            else
            {
                <div class="row">
                    @foreach (var item in Model.products)
                    {
                        <div class="col-md-4 px-2 py-1 my-4">
                            <div class="card shadow-sm h-100">
                                <svg class="bd-placeholder-img card-img-top" height="225" width="100%" xmlns="http://www.w3.org/2000/svg">
                                    <image href="@item.picture" height="100%" width="100%" />
                                </svg>
                                <div class="card-body">
                                    <h5 class="card-title">@item.name</h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a onclick="Buy('@item.id')" class="btn btn-sm btn-outline-secondary">Buy</a>
                                        <div>@Model.currentCurrency @string.Format("{0:C}", item.price)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <ul class="pagination">
                    <li id="prevv" class="page-item" style="display:none">
                        @{
                            int prevpage = ViewBag.page - 1;
                            <a class="page-link" href="#" onclick="SearchProd(@prevpage, @Model.totalPages)">Previous</a>
                        }
                    </li>
                    @for (int i = 1; i <= Model.totalPages; i++)
                    {
                        <li id="@i" class="page-item"><a class="page-link" href="#" onclick="SearchProd(@i, @Model.totalPages);">@i</a></li>
                    }
                    <li id="nextt" class="page-item">
                        @{
                            int nextpage = ViewBag.page + 1;
                            <a class="page-link" href="#" onclick="SearchProd(@nextpage, @Model.totalPages)">Next</a>
                        }
                    </li>
                </ul>
            }
            @{await Html.RenderPartialAsync("Ad");}
            </div>
    </div>
</div>
