@model EcommerseClient.Models.Producto
@using EcommerseClient.Services

<script>
    $('#escondele').show();
</script>

<div class="py-5">

    <div class="container bg-light py-3 px-lg-5 py-lg-5">
        <div class="row">
            <div id="foto" hidden>@Model.picture</div>
            <input type="hidden" value="@Model.id" id="prodId" />
            <div class="col-12 col-lg-5">
                <img class="img-fluid border" style="width: 100%;" src="@Model.picture" />
            </div>
            <div class="col-12 col-lg-7">
                <h2 id="titulo">@Model.name</h2>
                <p class="text-muted">
                    @{ 
                        double precio = CurrencyService.Conversion(new CurrencyChange()
                        {
                            CurrencyCode = Model.priceUsd.currencyCode,
                            Units = Model.priceUsd.units,
                            Nano = Model.priceUsd.nanos,
                            CurrencyType = CurrencyService.cur
                        });
                    }
                    @CurrencyService.cur @precio
                </p>
                <hr />
                <p>
                    <h6>Product Description:</h6>
                    @Model.description
                </p>
                <hr />
                <input type="hidden" name="product_id" value="" />

                <div class="input-group">

                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Quantity</label>
                    </div>

                    <select name="quantity" id="quantity" class="custom-select-lg">

                        <option>1</option>

                        <option>2</option>

                        <option>3</option>

                        <option>4</option>

                        <option>5</option>

                        <option>10</option>

                    </select>
                    <button class="btn btn-info btn-lg ml-3" onclick="Carro('@Model.priceUsd.currencyCode', '@Model.priceUsd.units', '@Model.priceUsd.nanos')">Add to Cart</button>
                </div>
            </div>
        </div>
        <hr />
        @{await Html.RenderPartialAsync("Recomendation", RecomendationService.Recomended(Model.id));}
    </div>
</div>
<hr />
