@model Cart
@using EcommerseClient.Services

<script>
    $("#currencySelec").hide();
</script>
<div id="contenedor">
    <div class="py-5">
        <div class="container bg-light py-3 px-lg-5 py-lg-5">
            @if (Model.items.Count == 0)
            {
                <h3>Your shopping cart is empty!</h3>
                <p>Items you add to your shopping cart will appear here.</p>
                <a class="btn btn-primary" href="#" onclick="GoHome()" role="button">Browse Products &rarr; </a>
            }
            else
            {
                <div class="row mb-3 py-2">
                    <div class="col">
                        <h3>
                            @Model.items.Count in your Shopping Cart
                        </h3>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-secondary" onclick="DeleteCart()">Empty cart</button>
                        <a class="btn btn-info" href="#" onclick="GoHome()" role="button">Browse more products &rarr; </a>
                    </div>
                </div>
                <hr>

                double total = 0;
                foreach (var item in @Model.items)
                {
                    Producto producto = ProductCatalogService.Info(item.idProduct);
                    <div class="row pt-2 mb-2">
                        <div class="col text-right">
                            <a href="">
                                <img class="img-fluid" style="width: auto; max-height: 60px;"
                                     src="@producto.picture" />
                            </a>
                        </div>
                        <div class="col align-middle">
                            <strong>@producto.name</strong><br />
                            <small class="text-muted">@item.idProduct</small>
                        </div>
                        @{
                            string cur = ViewBag.currency;
                            double precio = CurrencyService.Conversion(new CurrencyChange()
                            {
                                CurrencyCode = producto.priceUsd.currencyCode,
                                Units = producto.priceUsd.units,
                                Nano = producto.priceUsd.nanos,
                                CurrencyType = cur
                            });
                        }

                        <div class="col text-left">
                            Quantity: @item.quantity <br />
                            <strong>
                                @cur @string.Format("{0:C}", precio)
                            </strong>
                        </div>
                    </div>
                    total = precio * int.Parse(item.quantity) + total;
                }
                double s = ShippingService.Estimate(total).calculatedShippingCost;
                total = total + ShippingService.Estimate(total).calculatedShippingCost;
                <div class="row pt-2 my-3">
                    <div class="col text-center">
                        <p class="text-muted my-0">
                            Shipping Cost:
                            <strong id="shippingCost">
                                @ViewBag.currency @string.Format("{0:C}", s)
                            </strong>
                        </p>
                        Total Cost: <strong id="eltotal">@ViewBag.currency @string.Format("{0:C}", total)</strong>
                    </div>
                </div>

                <hr />
                <div class="row py-3 my-2">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <h3>Checkout</h3>
                        <form action="/Home/CheckOut" method="POST">
                            <div class="form-row">
                                <div class="col-md-5 mb-3">
                                    <label for="email">E-mail Address</label>
                                    <input type="email" class="form-control" id="email"
                                           name="Email" value="someone@example.com" required>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="street_address">Street Address</label>
                                    <input type="text" class="form-control" name="StreetAddress1"
                                           id="street_address" value="1600 Amphitheatre Parkway" required>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="zip_code">Zip Code</label>
                                    <input type="text" class="form-control"
                                           name="ZipCode" id="zip_code" value="94043" required pattern="\d{4,5}">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-5 mb-3">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" name="City" id="city"
                                           value="Mountain View" required>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="state">State</label>
                                    <input type="text" class="form-control" name="StreetAddress2" id="state"
                                           value="CA" required>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country"
                                           placeholder="Country Name"
                                           name="Country" value="United States" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="credit_card_number">Credit Card Number</label>
                                    <input type="text" class="form-control" id="credit_card_number"
                                           name="Credit_number_Card"
                                           placeholder="0000-0000-0000-0000"
                                           value="4432-8015-6152-0454"
                                           required pattern="\d{4}-\d{4}-\d{4}-\d{4}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="credit_card_expiration_month">Month</label>
                                    <select name="Credit_Card_Month" id="credit_card_expiration_month"
                                            class="form-control">
                                        <option value="1"> January </option>
                                        <option value="2">February</option>
                                        <option value="3"> March </option>
                                        <option value="4">April</option>
                                        <option value="5"> May </option>
                                        <option value="6">June</option>
                                        <option value="7"> July </option>
                                        <option value="8">August</option>
                                        <option value="9"> September </option>
                                        <option value="10">October</option>
                                        <option value="11"> November </option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="credit_card_expiration_year">Year</label>
                                    <select name="Credit_Card_Year" id="credit_card_expiration_year"
                                            class="form-control">
                                        <option> 2020 </option>
                                        <option> 2021 </option>
                                        <option> 2022 </option>
                                        <option> 2023 </option>
                                        <option> 2024 </option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="credit_card_cvv">CVV</label>
                                    <input type="password" class="form-control" id="credit_card_cvv"
                                           autocomplete="off"
                                           name="CVV" value="672" required pattern="\d{3}">
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-primary" type="submit">Place your order &rarr;</button>
                            </div>
                        </form>
                    </div>
                </div>

                <hr />
                {
                    List<Producto> recomended = new List<Producto>();
                    foreach (var item in Model.items)
                    {
                        recomended.AddRange(RecomendationService.Recomended(item.idProduct));
                    }

                    await Html.RenderPartialAsync("Recomendation", recomended);
                <hr />
                    await Html.RenderPartialAsync("Ad");
                }
            }

        </div>
    </div>
</div>